@import 'reset';
@import 'variables';
@import 'header';
@import 'navbar';
@import 'contentbody';
@import 'who_Iam';
@import 'experience';
@import 'projects';
@import 'popup';
@import 'footer';
@import 'star';
@import 'mediaquery';
@import 'stickButton';