@media screen and (max-width: 768px) {
    .bubble-container {
      display: none;
    }
    .nav-right {
      display: none;
    }
    .nisho{
      width: 50vw;
    }
    .nisho h1{
        padding: 2px;
      font-size: 20px;
    }
    .nav{
      height: 80px;
    }
    .content-body{
        top: 80px;
    }
    .content-body-container{
        display: none;
    }
    
    .ts-cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .projects{
        // display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        div{
            margin-top: 50px;
            width: 80%;
        }
    }
    .contact{
        div{
            flex-direction: column;
        align-items: center;
        justify-content: center;
        }
    }
    .gce{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            width: 95%;
        
        }
    }
    .about-me{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h5{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h2{
            text-align: center;
        }

    }
    
  }
  
  /* Tablet styles */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Add styles for tablets here */
    .dropdown {
        display: none;
      }
      .dropdown{
        display: none;
      }
      .mobile-prof {
        display: none;
      }
  }
  
  /* Larger screens (Desktop) */
  @media screen and (min-width: 1025px) {
    .dropdown {
        display: none;
      }
      .dropdown {
        display: none;
      }
      .mobile-prof {
        display: none;
      }
    /* Add more styles or modify existing ones for larger screens */
  }