@media screen and (max-width: 768px) {
    .bubble-container {
      display: none;
    }
    .nav-right {
      display: none;
    }
    .nisho{
      // Width handled by flexbox in navbar.scss now
    }
    .nisho h1{
        font-size: 1.2rem; // Smaller font for mobile
        margin-top: 0;
        padding: 0;
    }
    .nav{
      height: 70px; // Slightly smaller navbar
    }
    .content-body{
        top: 70px;
    }
    .content-body-container{
        display: none;
    }
    
    .ts-cont{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div {
            width: 90% !important;
            height: auto !important; // Allow auto height
            margin-bottom: 20px;
        }
    }

    .last-div {
        height: auto !important;
    }

    .gce{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            width: 90%;
            margin-bottom: 20px;
        }
    }
    .about-me{
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        h5{
            text-align: center;
            font-size: 1rem;
        }
        p{
            text-align: center;
            font-size: 1rem;
            line-height: 1.6;

            strong i {
                margin-top: 20px;
                color: white !important;
                background-color: $button-color;
                display: inline-block;
            }
        }
        h2{
            text-align: center;
            font-size: 1.5rem;
        }

    }
    .popup-content{
        width: 80vw;
        height: 80vh;
        top: 8%;
        left: 5%;
    }
    
  }
  
  /* Tablet styles */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Add styles for tablets here */
    .dropdown {
        display: none;
      }
      .dropdown{
        display: none;
      }
      .mobile-prof {
        display: none;
      }
  }
  
  /* Larger screens (Desktop) */
  @media screen and (min-width: 1025px) {
    .dropdown {
        display: none;
      }
      .dropdown {
        display: none;
      }
      .mobile-prof {
        display: none;
      }
    /* Add more styles or modify existing ones for larger screens */
  }
