.nav{
    height: 15vh;
    background-color: black !important;
    color: white;
    // margin-top: 120px;
    // margin-left: 100px;
    // padding-top: 10px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 101;
    display: flex;
  flex-direction: row;
//   justify-content: space-around;
    a{  
        // margin-top: 10px;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-family: $font-family;
        font-weight: 400;
        // background-color: rgba(32, 30, 30, 0.785);
    }
}
.nisho{
    position: relative;
    width: 30vw;
}
.nisho h1{
    color: white;
    font-family: Arial, sans-serif;
}
.nav-right{
    position: absolute;
    top: 0;
    right: 0;

}
.button{
    margin: 5vh;
    color: $button-font-color;
    border: none;
    background-color: $button-color;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button:hover{
    background-color: #E67EC7;
    color: black;
    transform: scale(1.1);
}
.button.clicked{
    background-color: white;
    color: black;
}
/* Hide the dropdown content by default */
.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown{
    position: relative;
    display: flex;
    width: 30vw;
    justify-content: end;
    
  }
  /* Style the dropdown button */
  .menu .dropbtn {
    display: block;
    // padding-left: 10px;
    // justify-content: end;
    background-color: black;
    // color: #fff;
    // margin-left: 50px;
    // margin-top: 10px;
    
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  
  /* Display the dropdown content when the button is hovered over */
  .menu:hover .dropdown-content {
    top: 80px;
    right: 0;
    display: inline;
  }
  
  /* Style the dropdown links */
  .menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  /* Change the link's background color on hover */
  .menu .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .menubar{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }
  .menu{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }