.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 99999;
  }
  
  .popup-content {
    position: absolute;
    width: 75vw;
    max-width: 90%; /* Maximum width to maintain responsiveness */
    height: 75vh;
    max-height: 90%; /* Maximum height to maintain responsiveness */
    top: 10%;
    left: 15%;
    // transform: translate(-20%, -49%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: $font-family;
    overflow: auto;
    p{
        text-align: justify;
    }
    a{
        text-decoration: none;
    }
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  