body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.bubble-container {
  position: fixed; /* Changed from relative to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // background-color: white;
  z-index: -1; /* Behind content */
  overflow: hidden;
}

.bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: floatUp 7s infinite;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.content {
  position: relative; /* Changed from absolute to relative */
  width: 100%;
  min-height: 100vh;
  z-index: 1; /* Above bubbles */
  text-align: center;
  color: white;
  font-size: 24px;
}

@keyframes floatUp {
  0% {
    bottom: -100px; /* Start below screen */
    opacity: 1;
  }
  
  100% {
    bottom: 100%;
    opacity: 0; /* Fade out */
  }
}
