body {
  margin: 0;
  overflow-x: hidden;

}

.bubble-container {
  position: relative;
  height: calc(100vh - 1px); /* Subtract 1px to account for any possible border or gap */
  background-color: white; /* Just for demonstration, you can set your background color */
  z-index: 1;
  overflow: hidden
}

.bubble {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  // background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  animation: floatUp 7s infinite; /* Apply the animation to the bubbles */
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
  color: white;
}
.content {
  position: absolute;
  top: 0;
  left: 0; /* Set left position to 0 to start from the left edge */
  right: 0; /* Set right position to 0 to end at the right edge */
  // transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 24px;
  z-index: 99;
  

}

@keyframes floatUp {
  0% {
    bottom: 0; /* Start from the bottom of the container */
    opacity: 1;
  }
  
  100% {
    bottom: 100%; /* Move up by the full height of the container */
    opacity: 1; /* Fade out at the top */
  }
}
