/* SASS variables here */
$primary-color: #007bff;
// $font-family: 'Roboto', sans-serif;
$button-color: #CB3353;
$button-font-color: white;
$font-family: Arial, sans-serif;
$font-about-color:#2d0337;
