
.scroll h1 {
    color: $font-about-color;
    font-family: $font-family;
}
.scroll p {
    text-align: justify;
    font-size: large;
    color: $font-about-color;
    font-family: $font-family;
    max-width: 90%;
}
.scroll ul {
    font-size: 20px;
}